<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de clientes</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            align-content: center;
        }
    </style>
</head>

<body>

    <h1>Crear carrito para cliente </h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>

                <tr th:objec th:each="cliente : ${clientes}">
                    <td th:field="*{clientsModel}" th:value="${cliente.pkClient}" th:text="${cliente.pkClient}"></td>
                    <td th:text="${cliente.name}"></td>
                    <td th:text="${cliente.lastName}"></td>
                    <td th:text="${cliente.dni}"></td>
                    <td th:text="${cliente.adress}"></td>
                    <td th:text="${cliente.phone}"></td>
                    <td th:text="${cliente.email}"></td>
                </tr>

            </tbody>
        </table>
        <hr>
        <hr>
        <hr>
        <h1>Productos para comprar</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.pkProducto}"></td>
                    <td th:text="${producto.Nombre}"></td>
                    <td th:text="${producto.codigo}"></td>
                    <td th:text="${producto.stock}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td><input size="4" th:field="*{cantidad}" type="text"></td>
                </tr>
                <tr>
                    <td colspan="6"><button style="font-size: 16px; width: 350px; height: 40px;" type ="submit">Agregar al carrito</button>
                    </td>
                </tr>
            </tbody>
        </table>

</body>

</html>